$transition: all .1s ease-in-out;

* {
  font-family: 'Open Sans', sans-serif;
  transition: $transition;
}

// Forms

.filter-form {
  display: flex;
  flex-direction: column;

  .form-item {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    .container {
      padding-left: 30px;
      position: relative;
    }

    * {
      cursor: pointer;
    }

    &:hover {
      background-color: $hover-color;

      input {
        background-color: $checked-color;
      }

      .checkmark {
        border: 1px solid $checked-color;
      }
    }
  }

  label {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
  }
}

input[type='checkbox'], input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

input:checked {
  ~ .checkmark {
    border: 1px solid $checked-color;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid $hover-input;
  position: absolute;
  top: 0;
  left: 0;
}